
<div class="section-wrapper">
    <section class="section skills" id="publications">
        <div>
            <div class="section-heading" id="skills-text">Skills</div>

            <div class="skills-grid">
                <div class="what-i-do">
                    <h3 class="center-align skills-subsection">Summary</h3>
                    <p class="paragraph-text center-align">
                        I'm a web engineer fluent in modern web development. I have a serious passion for engineering solutions using the internet. InfoSec guy, blue team. Let's build a beautiful, speedy and safe web together.
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>